@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

@media (max-width: 767px) {
    h1 {
      letter-spacing: -0.06rem !important;
    }
    h2 {
      letter-spacing: -0.06rem !important;
    }
    h3 {
        letter-spacing: -0.06rem !important;
      }

      h4{
        letter-spacing: -0.06rem !important;
      }
      .header-image{
        margin-top: 8vh;
        height: 40vh !important;

      }
      .header-image-cta{
        margin-top: 8vh;
        height: 40vh !important;

      }
  }

  .text-primary{
    @apply text-slate-100;
  }

  .text-secondary{
    @apply text-slate-300;
  }

  .text-tertiary{
    @apply text-slate-400;
  }
  .bg-secondary{
    @apply bg-purple-700;
  }

  .border-primary{
    @apply border-slate-600;
  }
  .bg-primary{
    @apply bg-slate-800;
  }
  .bg-accent{
    
    @apply bg-blue-600  transition duration-200;
    &:hover{
      @apply bg-blue-700
    }
  }
  .header-image{
    object-fit: cover;
    height: 60vh;
    object-position: top; /* Center the image within the element */
    background-repeat: no-repeat;
  }
  .header-image-cta {
    object-fit: cover;
    height: 30vh;
    object-position: center; /* Center the image both horizontally and vertically */
    background-repeat: no-repeat;
  }

  .backdrop-blur{
    backdrop-filter: blur(20px);
    @apply bg-slate-800/70
  }